# Arquivos compilados
target/
*.class

# Arquivos de IDE
.idea/
*.iml
.vscode/
.settings/
.classpath
.project

# Logs
*.log

# Arquivos temporários
*.tmp
*.bak
*.swp
*~.nib

# Arquivos do sistema
.DS_Store
Thumbs.db
